---
import { getCollection } from 'astro:content'
import Container from '@components/Container.astro'
import Layout from '@layouts/Layout.astro'
import ArrowCard from '@components/ArrowCard.astro'
import Link from '@components/Link.astro'
import { dateRange } from '@lib/utils'
import { SITE, HOME, SOCIALS } from '@consts'

const blog = (await getCollection('blog'))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.postsOnHomePage)

const projects = (await getCollection('projects'))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.projectsOnHomePage)

const allwork = (await getCollection('work'))
  .sort(
    (a, b) =>
      new Date(b.data.dateStart).valueOf() -
      new Date(a.data.dateStart).valueOf(),
  )
  .slice(0, SITE.worksOnHomePage)

const work = await Promise.all(
  allwork.map(async (item) => {
    const { Content } = await item.render()
    return { ...item, Content }
  }),
)
---

<Layout title={HOME.title} description={HOME.description}>
    <Container>
        <h4 class="animate font-semibold text-black dark:text-white">
            Hola, soy Carlos Pavajeau <span class="text-xl"></span> 
        </h4>

        <div class="space-y-16">
          <section>
            <article class="space-y-4">
              <p class="animate">
                Soy un desarrollador de software graduado y con varios a帽os de experiencia en la creaci贸n de API y aplicaciones tanto web como m贸viles. 
                Me apasiona crear aplicaciones de alta calidad, y me enorgullezco de escribir c贸digo elegante y eficiente. 
                Mi dedicaci贸n y responsabilidad son mi se帽a de identidad, y siempre estoy emocionado por adquirir nuevos conocimientos y 
                mejorar mis habilidades.
              </p>

              <p class="animate">
                Hecha un vistazo a mi <Link href="/blog" aria-label="Sobre mi">blog</Link> para leer sobre mis experiencias y aprendizajes,
                o visita mi <Link href="/projects" aria-label="Proyectos">portafolio</Link> para ver algunos de mis proyectos m谩s recientes.
              </p>
            </article>
          </section>

          <section class="animate space-y-6">
            <div class="flex flex-wrap gap-y-2 items-center justify-between">
              <h5 class="font-semibold text-black dark:text-white">
                ltimas publicaciones
              </h5>
              <Link href="/blog">
                Ver todas
              </Link>
            </div>
            <ul class="flex flex-col gap-4">
              {blog.map(post => (
                <li>
                  <ArrowCard entry={post} />
                </li>
              ))}
            </ul>
          </section>

          <section class="animate space-y-6">
            <div class="flex flex-wrap gap-y-2 items-center justify-between">
              <h5 class="font-semibold text-black dark:text-white">
                Experiencia reciente
              </h5>
              <Link href="/work">
                Ver todas
              </Link>
            </div>
            <ul class="flex flex-col space-y-4">
              {work.map(entry => (
                <li>
                  <div class="text-sm opacity-75">
                    {dateRange(new Date(entry.data.dateStart), new Date(entry.data.dateEnd))}
                  </div>
                  <div class="font-semibold text-black dark:text-white">
                    {entry.data.company}
                  </div>
                  <div class="text-sm opacity-75">
                    {entry.data.role}
                  </div>
                  <article>
                    <entry.Content />
                  </article>
                </li>
              ))}
            </ul>
          </section>

          <section class="animate space-y-6">
            <div class="flex flex-wrap gap-y-2 items-center justify-between">
              <h5 class="font-semibold text-black dark:text-white">
                Proyectos recientes
              </h5>
              <Link href="/projects">
                Ver todos
              </Link>
            </div>
            <ul class="flex flex-col gap-4">
              {projects.map(project => (
                <li>
                  <ArrowCard entry={project} />
                </li>
              ))}
            </ul>
          </section>

          <section class="animate space-y-4">
            <h5 class="font-semibold text-black dark:text-white">
              Contacto
            </h5>
            <article>
              <p>
                Si deseas ponerte en contacto conmigo, no dudes en enviarme un correo electr贸nico o contactarme a trav茅s de mis redes sociales.
              </p>
            </article>
            <ul class="flex flex-wrap gap-2">
              {SOCIALS.map(SOCIAL => (
                <li class="flex gap-x-2 text-nowrap">
                  <Link href={SOCIAL.url} external aria-label={`${SITE.name} on ${SOCIAL.name}`}>
                    {SOCIAL.name}
                  </Link>
                  {"/"}
                </li>
              ))}
              <li class="line-clamp-1">
                <Link href={`mailto:${SITE.email}`} aria-label={`Email ${SITE.email}`}>
                  {SITE.email}
                </Link>
              </li>
            </ul>
          </section>
        </div>
    </Container>
</Layout>
